<!DOCTYPE html>
<html>
<head>
	 <title>LinkedIn</title>
	 <meta charset="utf-8"/>
	 <meta name="viewport" content="width=device-width, initial-scale=1"/>
	 <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/>
	 <link rel='stylesheet' href='/stylesheets/style.css' />
	 <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	 <!-- latest jQuery, Boostrap JS and hover dropdown plugin -->
	 <script src="//code.jquery.com/jquery-latest.min.js"></script>
	 <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script> 
</head>

<body ng-app="app" ng-controller="homeController">
	<div class="container-fluid navbar-fixed-top">
	<!-- Top bar with grey background -->
	   <div class="topbar">
	  	<div class="container">
		  	<form class="form-horizontal">
		    	<div class="input-append">
		    		<img src="images/linkedin.png" alt="LinkedIn" height="35" width="35"/>
		    		<searchbar>
			    		<input class="resizedTextBox" type="text" id="search" ng-model="searchValue" placeholder = "Search"/>
				     	<button type="button" ng-click = "search()" class="btn btn-info">
					  		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>	
						</button>
		    		</searchbar>
		    		<ul class="cssMenu pull-right">
				        <li>
				            <a href="#Message"><img src="images/email.png" alt="LinkedInEmail" height="25" width="25"/></a>
				            <ul>
				                <li><a href="#">item1</a></li>
				                <li><a href="#">item2</a></li>
				                <li><a href="#">item3</a></li>
				            </ul>
				        </li>
				        <li>
				            <a href="#"><img src="images/notification.png" alt="LinkedInNotification" height="25" width="25"/></a>
				            <ul>
				                <li><a href="#">item1</a></li>
				                <li><a href="#">item2</a></li>
				                <li><a href="#">item3</a></li>
				            </ul>
				        </li>
				        <li>
				            <a href="#addConnection"><img src="images/user.png" alt="LinkedInUser" height="25" width="25"/></a>           
				            <ul>
				                <li><a href="#">item1</a></li>
				                <li><a href="#">item2</a></li>
				                <li><a href="#">item3</a></li>
				            </ul>
				        </li>
				        <li>
				            <a href="#"><img src="images/user.png" alt="LinkedInUser" height="25" width="25"/></a>           
				            <ul>
				                <li><a href="#" ng-click="signOut()">Logout</a></li>
				            </ul>
				        </li>
				        
				    </ul>
				</div>
			</form>
		</div>
	  </div>
	 
	  <div class="menubar">
	  	<div class="container">
		  	<div class="btn-toolbar">
		        <div class="btn-group">
		          <button class="btn btn-link dropdown-toggle">Home</button>
		        </div>
		        <div class="btn-group">
		          <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Profile<span class="caret"></span></button>
		          <ul class="dropdown-menu">
		            <li><a href="#">Edit Profile</a></li>
		            <li><a href="#">Who's viewed your profile</a></li>
		            <li><a href="#">Your Updates</a></li>
		          </ul>
		        </div>
		        <div class="btn-group">
		          <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Connections<span class="caret"></span></button>
		          <ul class="dropdown-menu">
		            <li><a href="#">Keep in touch</a></li>
		            <li><a href="addConnections" ng-model = "clicked">Add connections</a></li>
		          </ul>
		        </div>
		        <div class="btn-group">
		          <button class="btn btn-link">Education</button>
		        </div>	        
		    </div>
		 </div>
	  </div>
	 </div>
	 <div>
  
</div>
</div>
<div class = "profile-page" style = "height: 250px">
	<img src="images/four.png" alt="LinkedInUser" class="col-md-3" style = "margin-top:20px" height="180" width="180"/>
	
	<%
	if(session.guestprofile!==undefined)
	{
	var first_name = session.guestprofile[0].first_name;
	var last_name  = session.guestprofile[0].last_name;
	if(session.guestprofile[0].connection_status==0){
		var accpt = false;
	}
	%>
    <h2 class="col-md-7"><%=first_name%> <%=last_name%></h2>
	      <div class="col-md-9" style="margin-top:100px">
	      <button name=""  ng-click="acceptReq()" ng-hide="acceptRequest">Accept Request</button> 
	      <button name=""  ng-click="rejectReq()" ng-hide="<%=accpt%>">Reject Request</button>
	      <button name=""  ng-click="removeConn()" ng-hide="removeConnection">Remove Connection</button>
	   </div> 
    <%
    }
    %>
</div>

<div class = "profile-page" style = "margin-top:20px;height: 200px">
      <div>
	      <h3>Summary</h3>
      </div>
      <div>
    	    <%
			if(session.guestprofile!==undefined)
			{
			var sum=session.guestprofile[0].summary;
			%>
			<textarea class="form-control" rows="5" id="summaryArea" ng-init="summaryData='<%= session.guestprofile[0].summary%>'" ng-model="summaryData" ng-disabled="editableSummary">
			</textarea>
			<%
			}
			%>
      </div>
      <br/>
      </div>
</div>
<div class = "profile-page" style = "margin-top:20px">
	<div>
		<h3>Experience</h3>
	</div>
	<%
	if(session.guestprofile!==undefined)
	{
	var exp=session.guestprofile[0].experience;
	%>
	<div class="row">
		<label class="col-md-3">Company Name*</label>
		<input class="col-md-5" type="text" ng-init="companyName='<%=session.guestprofile[0].company_name%>'" ng-model="companyName" ng-disabled="editableExperience" required>
    </div><br/>	
	<div class="row">
		<label class="col-md-3">Title*</label>
		<input class="col-md-5" type="text" ng-init="title='<%=session.guestprofile[0].title%>'" ng-model="title" ng-disabled="editableExperience">
	</div><br/>	
		<div class="row">
		<label class="col-md-3">Location</label>
		<input class="col-md-5" type="text" ng-init="location='<%=session.guestprofile[0].location%>'" ng-model="location" ng-disabled="editableExperience">
	</div><br/>
		<div class="row">
		<label class="col-md-3">Time Period*</label>
		<input class="col-md-2" type="date" ng-init="expStartDate='<%=session.guestprofile[0].exp_start_date%>'" ng-model="expStartDate" ng-disabled="editableExperience" >
		<p2 class="col-xs-1">-</p2>
		<input class="col-md-2" type="date" ng-init="expEndDate='<%=session.guestprofile[0].exp_end_date%>'" ng-model="expEndDate" ng-disabled="editableExperience" >
	</div><br/>
		<div class="row">
		<label class="col-md-3">Description</label>
		<textarea class="col-md-5" rows="5" id="jobDescription" ng-init="jobDescription='<%=session.guestprofile[0].exp_description%>'" ng-disabled="editableExperience" ng-model = "jobDescription"></textarea>
	</div><br/>
	<%
	}
	%>
	
</div>
<div class = "profile-page" style = "margin-top:20px">
    <form>
	<div>
		<h3>Education</h3>
	</div>
	<%
	if(session.guestprofile!==undefined)
	{
	var edu=session.guestprofile[0].education;
	%>
	<div class="row">
		<label class="col-md-2">School*</label>
		<input class="col-md-5" type="text" ng-init="school='<%=session.guestprofile[0].univ_name%>'" ng-model="school" ng-disabled="editableEducation" required>
    </div><br/>	
    <div class="row">
		<label class="col-md-2">Degree</label>
		<input class="col-md-5" type="text" ng-init="degree='<%=session.guestprofile[0].level%>'" ng-model="degree" ng-disabled="editableEducation">
    </div><br/>	
	<div class="row">
		<label class="col-md-2">Start Date</label>
		<input class="col-md-2" type="date" ng-init="eduStartDate='<%=session.guestprofile[0].edu_start_date%>'" ng-model="eduStartDate" ng-disabled="editableEducation">
		<label class="col-md-2">End Date</label>
		<input class="col-md-2" type="date" ng-init="eduEndDate='<%=session.guestprofile[0].edu_end_date%>'" ng-model="eduEndDate" ng-disabled="editableEducation">
	</div><br/>	
		<div class="row">
		<label class="col-md-2">Field of Study</label>
		<input class="col-md-5" type="text" ng-init="studyField='<%=session.guestprofile[0].field%>'" ng-model="studyField" ng-disabled="editableEducation">
	</div><br/>
		<div class="row">
		<label class="col-md-2">Grade</label>
		<input class="col-md-5" type="text" ng-init="grade='<%=session.guestprofile[0].grade%>'" ng-model="grade" ng-disabled="editableEducation">
	</div><br/>
		<div class="row">
		<label class="col-md-2">Description</label>
		<textarea class="col-md-5" rows="5" id="edesc" ng-init="educationDesc='<%=session.guestprofile[0].edu_description%>'" ng-disabled="editableEducation" ng-model="educationDesc"></textarea>
	</div><br/>
	<%
	}
	%>
	<div>
	      
	  </div>
	 </form>  
</div>

<div class = "profile-page" style = "margin-top:20px">
    
</div>

</body>
<script type="text/javascript">
			var app = angular.module('app', []);
		    app.controller("homeController", function($scope,$http)
	     	{
	     		$scope.editableEducation = true;
	     		$scope.editableExperience = true;
	     		$scope.editableSummary = true;
	     		$scope.editableSkills = true;
	     		$scope.connRequest = false;
	     		$scope.acceptRequest = false;
	     		$scope.removeConnection = !$scope.acceptRequest;
//	     		$scope.connection_status = <%=session.guestprofile[0].connection_status%>
//	     		if($scope.connection_status === undefined || $scope.connection_status === -1){
	//     			$scope.connRequest = true;
//	     		$scope.acceptRequest = false;
//	     		$scope.removeConnection = false;
//	     		}
//	     		if($scope.connection_status === 0){
//	     		$scope.connRequest = false;
//	     		$scope.acceptRequest = true;
//	     		$scope.removeConnection = false;
//	     		} else {
//	     		$scope.connRequest = false;
//	     		$scope.acceptRequest = false;
//	     		$scope.removeConnection = true;
//	     		}
	     		
	     		$scope.connctionReq = function()
	     		{
	     			
	     			 $http({
		            	method: 'POST',
		            	url: '/sendinvitation',
		            	data: { "receiver":1,
		            			"sender":7
		            	}
		            }).success(function(response){
		            	$scope.connRequest = !$scope.connRequest;
		          
		            
		            }).error(function(error){
		          			  alert("error");
		        			});
	     		
	     		}
	     		
	     		$scope.acceptReq = function()
	     		{
	     			console.log($scope.session);
	     			$scope.removeConnection = true;
	     			 $http({
		            	method: 'POST',
		            	url: '/acceptinvitation',
		            	data: { "receiver":1,
		            			"sender":7
		            	}
		            }).success(function(response){
		            	$scope.acceptRequest = !$scope.acceptRequest;
		            	$scope.removeConnection = true;
		          
		            
		            }).error(function(error){
		          			  alert("error");
		        			});
	     		
	     		}
	     		
	     		$scope.rejectReq = function()
	     		{
	     			
	     			 $http({
		            	method: 'POST',
		            	url: '/rejectinvitation',
		            	data: { "receiver":1,
		            			"sender":7
		            	}
		            }).success(function(response){
		            	$scope.acceptRequest = !$scope.acceptRequest;	
		          		$scope.connRequest = true;
		            
		            }).error(function(error){
		          			  alert("error");
		        			});
	     		
	     		}
	     		
	     		$scope.removeConn = function()
	     		{
	     			
	     			 $http({
		            	method: 'POST',
		            	url: '/removeconnection',
		            	data: { "receiver":1,
		            			"sender":7
		            	}
		            }).success(function(response){
		            	$scope.removeConnection = !$scope.removeConnection;	
		            	$scope.connRequest = true;
		          
		            
		            }).error(function(error){
		          			  alert("error");
		        			});
	     		
	     		}
	     			     		
	     	    $scope.saveSummary = function()
	      		{
	      		   $scope.editableSummary = true;
	      		   $http({
		            	method: 'POST',
		            	url: '/insertSummary',
		            	data: { "summary":$scope.summaryData}
		            }).success(function(response){
		            }).error(function(error){
		          			  alert("error");
		        	});
	           };
	           $scope.saveExperience = function(event)
	      		{
	      		console.log(event.target.id);
	      		   $scope.editableExperience = true;
	           	    $http({
		            	method: 'POST',
		            	url: '/updateExperience',
		            	data: { "companyName":$scope.companyName,
		            	        "title":$scope.title,
		            	        "location":$scope.location,
		            	        "startdate":$scope.expStartDate,
		            	        "enddate":$scope.expEndDate,
		            	        "description":$scope.jobDescription,
		            	        "id":event.target.id }
		            }).success(function(response){
		            }).error(function(error){
		          			  alert("error");
		        	});
	           };
	           $scope.saveEducation = function(event)
	      		{
	      		   console.log("saved");
	      		   $scope.editableEducation = true;
	           	    $http({
		            	method: 'POST',
		            	url: '/updateEducation',
		            	data: { "level":$scope.degree,
		            	         "univName":$scope.school,
		            	         "studyfield":$scope.studyField,
		            	         "grade":$scope.grade,
		            	         "startdate":$scope.eduStartDate,
		            	         "enddate":$scope.eduEndDate,
		            	         "description":$scope.educationDesc,
		            	         "id":event.target.id}
		            }).success(function(response){
		            }).error(function(error){
		          			  alert("error");
		        	});
	           };
	           $scope.saveSkills = function(event)
	      		{
	      		   console.log("saving skill");
	      		   $scope.editableSkills = true;
	           	   $http({
		            	method: 'POST',
		            	url: '/updateskills',
		            	data: { "skill1":$scope.skill1,
		            	         "skill2":$scope.skill2,
		            	         "skill3":$scope.skill3,
		            	         "skill4":$scope.skill4,
		            	         "skill5":$scope.skill5,
		            	         "id":event.target.id}
		            }).success(function(response){
		            }).error(function(error){
		          			  alert("error");
		        	}); 
	           };

	           $scope.signOut = function()
	           {
	           		$http({
		            	method: 'POST',
		            	url: '/signout'
		            	}).success(function(response){
			            	window.location='/';
			            }).error(function(error){
			          	    alert("error");
		        	});
	           };
	           $scope.search = function()
	           {
	           		$http({
		            	method: 'POST',
		            	url: '/search',
		            	data: {"enteredText": $scope.searchValue}
		            	}).success(function(response){
			            	window.location='/searchResults';
			            }).error(function(error){
			          	    alert("error");
		        	});
	           };
	           		
	        });
</script>
</html>